<!-- <modal title="Upload File Event" visible="showModalUploadFileEvent">
<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<form class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2">Update File</label>
        <div class="col-sm-10">
            <input type="file" file-model="myFile1" />
            <button type="button" class="btn btn-primary" ng-click="uploadFileEvent()">Upload File</button>
        </div>
    </div>
</form>
</modal> -->

<!-- <button ng-click="toggleModalUploadFileEvent()" class="btn btn-info">Upload File Event</button> -->

<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<form class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2">Update File</label>
        <div class="col-sm-10">
            <input type="file" file-model="myFile" />
            <button type="button" class="btn btn-primary" ng-click="uploadFileEvent()">Upload File</button>
        </div>
    </div>
</form>

<button ng-click="toggleModalAddEvent()" class="btn btn-info">Add Event</button>
<modal title="Add/Edit Event" visible="showModalAddEvent">
<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<form class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Event Name</label>
        <div class="col-sm-10">
            <input class="form-control" id="name" ng-model="event.name" placeholder="Event Name" required></input>
        </div>
    </div>
    <fieldSet name="Time">
        <div class="form-group">
            <label class="control-label col-sm-2" for="inputStartDate">Start Date</label>
            <div class="col-sm-10">
                <input type="text" id="inputStartDate" ng-model="event.time.startDate" placeholder="Start Date" required> HH <select
                    ng-model="event.time.hourStartDate" ng-init="event.time.hourStartDate='0'" convert-to-number>
                    <option ng-selected="event.time.hourStartDate == hour" ng-repeat="hour in hours">{{hour}}</option>
                </select> MM <select ng-model="event.time.minStartDate" ng-init="event.time.minStartDate='0'" convert-to-number>
                    <option ng-selected="event.time.minStartDate == min" data-ng-repeat="min in mins">{{min}}</option>
                </select> Period <select ng-model="event.time.startPeriod">
                    <option ng-selected="event.time.startPeriod == 'AM'" value="AM">AM</option>
                    <option ng-selected="event.time.startPeriod == 'PM'" value="PM">PM</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="inputEndDate">End Date</label>
            <div class="col-sm-10">
                <input type="text" id="inputEndDate" ng-model="event.time.endDate" placeholder="End Date" required> HH <select
                    ng-model="event.time.hourEndDate" ng-init="event.time.hourEndDate='0'" convert-to-number>
                    <option ng-selected="event.time.hourEndDate == hour" ng-repeat="hour in hours">{{hour}}</option>
                </select> MM <select ng-model="event.time.minEndDate" ng-init="event.time.minEndDate='0'" convert-to-number>
                    <option ng-selected="event.time.minEndDate == min" data-ng-repeat="min in mins">{{min}}</option>
                </select> Period <select ng-model="event.time.endPeriod" required="required">
                    <option ng-selected="event.time.endPeriod == 'AM'" value="AM">AM</option>
                    <option ng-selected="event.time.endPeriod == 'PM'" value="PM">PM</option>
                </select>
            </div>
        </div>
    </fieldSet>

    <div class="form-group">
        <label class="control-label col-sm-2" for="hotline">Hotline</label>
        <div class="col-sm-10">
            <input type="text" id="hotline" ng-model="event.hotline" placeholder="Hotline" required></input>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="price">Price</label>
        <div class="col-sm-10">
            <input type="number" id="price" ng-model="event.price" convert-to-number placeholder="Price"></input> VND
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="venueName">Venue</label>
        <div class="col-sm-10">
            <input type="text" id="venueName" class="form-control" ng-model="event.venueName" placeholder="Venue Name" required></input>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Place City</label>
        <div class="col-sm-10">
        
            <select ng-model="event.place.cityId">
                <option ng-selected="event.place.cityId == 1" value="1">SAI GON</option>
                <option ng-selected="event.place.cityId == 2" value="2">HA NOI</option>
                <option ng-selected="event.place.cityId == 3" value="3">DA NANG</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Place Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="event.place.name" placeholder="Place Name" required></input>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Suggestion Address</label>
        <div class="col-sm-10">
            <input places-auto-complete size=80 ng-model="address" xxx-component-restrictions="{country:'vn'}" types="['address']"
                on-place-changed="placeChanged(place)" /> <br />
            <div ng-show="place"></div>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">Place Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="event.place.address"></input>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Latitude</label>
        <div class="col-sm-10">
            {{place.geometry.location.lat()}} <label class="control-label">Longitude</label> {{place.geometry.location.lng()}}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Place Map</label>
        <div class="col-sm-10">
            <div map-lazy-load="http://maps.google.com/maps/api/js">
                <map center="[{{place.geometry.location.lat()}}, {{place.geometry.location.lng()}}]" zoom="16" scrollwheel="false">
                    <marker position="[{{place.geometry.location.lat()}}, {{place.geometry.location.lng()}}]" title="hello"></marker>
                </map>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description</label>
        <div class="col-sm-10">
            <text-angular ng-model="event.description" id="description"></text-angular>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="category">Category</label>
        <div class="col-sm-10">
            <label ng-repeat="category in categories"> <input type="checkbox" data-checklist-model="event.categories"
                data-checklist-value="category" /> {{category.name}}

            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="poster">Update Poster</label>
        <div class="col-sm-10">
            <input type="file" file-model="myFile" />
            <button type="button" class="btn btn-primary" ng-click="uploadPoster()">Upload Poster</button>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="poster">Poster name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="event.poster" readonly="readonly"></input>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="poster">Source</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="event.source"></input>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="poster">Status</label>
        <div class="col-sm-10">
            <select ng-model="event.status">
                <option ng-selected="event.status == 0" value="0">NOT APPROVED</option>
                <option ng-selected="event.status == 1" value="1">APPROVED</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" ng-disabled="!event.name" ng-hide="editMode" ng-click="addEvent(event)">Add
                    event</button>

                <button type="button" class="btn btn-primary" ng-disabled="!event.name" ng-show="editMode" ng-click="updateEvent(event)">Update
                    event</button>
                <button type="button" class="btn btn-primary" ng-disabled="!event.name" ng-show="editMode" ng-click="duplicateEvent(event)">Duplicate
                    event</button>
                <button type="button" class="btn" ng-click="resetEventForm()">Reset</button>
            </div>
        </div>
    </div>
</form>
 <script>
   /*      $(function() {
            $("#inputStartDate").datepicker({
                dateFormat : "yy-mm-dd"
            }).val()
            $("#inputEndDate").datepicker({
                dateFormat : "yy-mm-dd"
            }).val()
        }); */
    </script>
</modal>

<h3>Event List</h3>
<div class="alert alert-info" ng-show="events.length == 0">No events found</div>
<table id="eventList" class="table table-bordered table-striped table-hover " ng-show="events.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Id</th>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Address</th>
            <th style="text-align: center;">Hotline</th>
            <th style="text-align: center;">Description</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events | orderBy:'-id'">
            <td style="text-align: center;">{{event.id}}</td>
            <td>{{event.name}}</td>
            <td>{{event.place.address}}</td>
            <td>{{event.hotline}}</td>
            <td>{{event.description}}</td>
            <td>{{event.status == '1' ? 'APPROVED' : 'NOT APPROVED'}}</td>
            <td style="width: 200px; text-align: center;">
                <button class="btn btn-mini btn-danger" ng-click="removeEvent(event.id)">Remove</button>
                <button class="btn btn-mini btn-success" ng-click="editEvent(event)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<script>
	$(document).ready(function() {
		$('#eventList').DataTable({
			"scrollY" : "500px",
			"scrollCollapse" : false,
			"paging" : false
		});
	});
</script>
